////
/// Button variable sheet.
///
/// @group button variables
////

@import "@trend/helpers/scss/variables";
@import "@trend/type/variables";
@import "@trend/theme/variables";
@import "@trend/theme/functions/theme";

$tc-button-height: 40px !default;
$tc-button-height-compact: 36px !default;
$tc-button-radius: 4px !default;
$tc-button-padding-horizontal: map-get($tc-spacings, m) !default;
$tc-button-padding-horizontal-modified: 1rem !default;
$tc-button-color-disabled:
  rgba(tc-theme-fetch-option(over-surface), 0.33) !default;

$tc-button-dark-color-opacities: (
  hover: 0.12,
  focus: 0.2,
  press: 0.24,
  selected: 0.16,
  activated: 0.2
) !default;

$tc-button-light-color-opacities: (
  hover: 0.16,
  focus: 0.32,
  press: 0.4,
  selected: 0.2,
  activated: 0.28
) !default;
