# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.sw*
*.vi
*.zip
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.sass-cache
*.css.map

# node defaults
node_modules
npm-debug.log

# project
/build
/dist
/coverage
packages/*/*.js
packages/*/dist

# tc-utils
packages/tc-utils/hooks
packages/tc-utils/internal
packages/tc-utils/state
