////
/// TextField label mixins
/// @group textfield mixins
////

@import "~@trend/helpers/scss/mixins/rtl";
@import "~@trend/theme/scss/mixins";
@import "../variables";

/// Apply background color to a label.
/// @param {$color} - Valid css property that can be transtioned.
/// @requrie {Mixin} tc-theme-prop

@mixin tc-textfield-label-background-color($color) {
  @include tc-theme-prop(background-color, $color);
}

/// Apply stylings for labels when textfield is active.
/// @param {String} $positionY - Translate Y position.
/// @param {String} $positionX [0%] - Translate X position.
/// @param {String} $size [0.75] - Scales label.
/// @require {Function} tc-textfield-classname

@mixin tc-textfield-label-active(
  $positionY,
  $positionX: 0%,
  $size: 0.75) {
  $scale: scale($size);
  $translateY: translateY(-1 * $positionY);
  $translateX: translateX(-1 * $positionX);

  &#{tc-textfield-classname(state-active)} {
    @if $positionX > 0 or $positionX < 0 {
      transform: #{$translateY} #{$translateX} #{$scale};

      @include tc-rtl {
        transform: #{$translateY} translateX($positionX) #{$scale};
      }
    } @else {
      transform: #{$translateY} #{$scale};
    }

    @content;
  }
}

/// Apply a maximum width rule to the label.
/// @param {String} $max-width - A number and unit value.

@mixin tc-textfield-label-max-width($max-width) {
  max-width: $max-width;
}
