block settings

doctype html
html
  head
    title Trend Components #{title}
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(charset="utf-8")
    meta(name="viewport"
         content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css")

  body
    block body

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
    block scripts
