extends _layout-template

block body
  header
    h1 Trend Components Library

  main
    ul
      li: a(href="/button.html") Button
      li: a(href="/base.html") Base
      li: a(href="/helpers.html") Helpers
      li: a(href="/theme.html") Theme
      li: a(href="/type.html") Type
