html {
  min-height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "../packages/trend-components/index";

#root {
  width: 100%;
}

.frame-root {
  display: flex;
}

.markdown-body {
  margin: 1rem;
}
