@import "../packages/tc-normalize/index";
@import "../packages/tc-type/index";
@import "../packages/tc-theme/index";

.Swatches {
  display: flex;

  margin: 1rem;
}

.Swatch {
  display: flex;

  border: 1px solid #efefef;
  padding: 0.5rem;

  & + & {
    margin-left: 0.5rem;
  }

  & {
    border: none;
  }
}
